* {
    /*para tener control de las cajas q se utilizaran*/
    box-sizing: border-box;
    /*hace que el padding y el border pasen a formar parte del cálculo del ancho de la caja y no lo suman posteriormente.*/
    margin: 0;
    padding: 0;
}

body {
    /*agregue propiedades pa q se mantuviera fija la imagen*/

    background-size: contain;
    /*cambie a contain*/
    font-family: 'Kurale', serif;
    justify-content: center;
    width: 100%;
    align-items: center;
    overflow-y: auto;
    /* activa el scroll vertical */
    max-height: 500px;
    /* ajusta la altura máxima del contenedor según tus necesidades */
    background-image: url(images/fondo2.png);
    background-size: cover;
    background-attachment: fixed;

}


/*Titulo principal*/
h1 {
    text-align: center;
    font-size: 60px;
    padding: 20px 0;
    color: #122466;


}

/*.buscador{  
    display: flex;
    justify-content: end;
    padding-bottom: 20px;
    padding-top: 0;
    padding-right: 30px;
    
}
button{
    background-color: transparent;
    color: #ffffff;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #122466;
    text-transform: uppercase;
    outline: none;
}
input{
    border-radius: 10px;
    padding-left: 3px;
    outline: none;
    border: 2px solid #122466 ;

    
}*/

.navegador {
    background-color: #6bbde0;
    height: 60px;

}

.orden {
    display: flex;
    justify-content: right;
    padding: 30px 80px;
    outline: none;
}

#filtro-orden {
    background-color: #F0AA0A;
    color: #ffffff;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #F0AA0A;
    text-transform: uppercase;
    outline: none;
}

#filtro-orden:hover{
    color: #122466;
}


#refresh-boton {
    background-color: transparent;
    border-radius: 10px;
    border: none;
    /*padding-left: 60px;*/
    cursor: pointer;
}

#refresh-boton:hover {
    background-color: #F0AA0A;

}

/*Boton Paises*/

.botones-general {
    display: flex;
    justify-content: space-evenly;
    /*padding: 0 20px;*/
}

.contenido-select {
    padding: 15px 20px;

}

.selectores {
    appearance: none;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    background-color: #6bbde0;
    border: none;
    height: 30px;
    width: 250px;
    cursor: pointer;
}

.selectores:hover {
    /*background-color: #F0AA0A;*/
    color:black;

}


/*.card-atleta {
    border: 3px solid #122466;
    border-radius: 27px;
    background-color: white;
    min-width: 400px;
    text-align: center;
    font-size: 20px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 0 70px;

}*/

.imagen-medalla {
    width: 100px;
    border-radius: 100px;
}

/*flip prueba */

#resultado{  /*agregue para poder colocar las cards una al lado de la otra*/
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    justify-content: space-between;
    padding: 0px 70px;
}

.flip-container{
    background-color: transparent;
    width: 300px;
    height: 250px;
    /*border: 1px solid #122466;*/
    border-radius: 30px;
    perspective: 1000px;
}


.card-completa{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;

}

.flip-container:hover .card-completa {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 30px;
}

.front {
    background-color: #6bbde0;
    color: #122466;

}

.back {
    background-color: #F0AA0A;
    color: #122466;
    transform: rotateY(180deg);
}


